In [28]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import pickle

In [29]:
data_preprocessed = pd.read_csv('df_preprocessed.csv')
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [30]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month_Value,Day,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

In [31]:
data_preprocessed['Absenteeism Time in Hours'].unique()

array([  4,   0,   2,   8,  40,   1,   7,   3,  32,   5,  16,  24,  64,
        56,  80, 120, 112, 104,  48], dtype=int64)

In [32]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [33]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > 3, 1, 0)

In [34]:
data_preprocessed['Excessive Absenteeism'] = targets

In [35]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month_Value,Day,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

In [36]:
targets.sum()/targets.shape[0]

0.45571428571428574

In [37]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours'], axis=1)

In [38]:
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month_Value,Day,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,0

In [39]:
data_with_targets.shape

(700, 15)

In [40]:
unscaled_inputs = data_with_targets.iloc[:,:-1]

In [41]:
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month_Value',
       'Day', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [42]:
unscaled_inputs_without_dummy = unscaled_inputs[['Month_Value',
       'Day', 'Transportation Expense', 'Distance to Work','Age',
       'Daily Work Load Average', 'Body Mass Index',
       'Children', 'Pets']]

In [43]:
unscaled_inputs_with_dummy = unscaled_inputs.drop(['Month_Value',
       'Day', 'Transportation Expense', 'Distance to Work','Age',
       'Daily Work Load Average', 'Body Mass Index',
       'Children', 'Pets'], axis=1)

In [44]:
absenteeism_scaler = StandardScaler()

In [45]:
absenteeism_scaler.fit(unscaled_inputs_without_dummy)

C:\Users\Lalit\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [46]:
scaled_inputs_without_dummy = absenteeism_scaler.transform(unscaled_inputs_without_dummy)

C:\Users\Lalit\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [47]:
scaled_inputs_without_dummy = pd.DataFrame(columns=['Month_Value',
       'Day', 'Transportation Expense', 'Distance to Work','Age',
       'Daily Work Load Average', 'Body Mass Index',
       'Children', 'Pets'], data = scaled_inputs_without_dummy)

In [48]:
scaled_inputs = pd.concat([unscaled_inputs_with_dummy,scaled_inputs_without_dummy], axis=1)

In [49]:
scaled_inputs = scaled_inputs[['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month_Value',
       'Day', 'Transportation Expense', 'Distance to Work','Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets']]

In [51]:
scaled_inputs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month_Value,Day,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,-0.683704,1.005844,0.412816,-0.536062,-0.806331,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.182726,-0.683704,-1.574681,-1.141882,2.130803,-0.806331,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.182726,-0.007725,-0.654143,1.426749,0.248310,-0.806331,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.668253,0.854936,-1.682647,0.405184,-0.806331,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.182726,0.668253,1.005844,0.412816,-0.536062,-0.806331,0.767431,0,0.880469,0.268487

In [52]:
scaled_inputs.shape

(700, 14)

In [53]:
x_train,x_test,y_train,y_test = train_test_split(scaled_inputs,targets, train_size = 0.8, random_state = 20)

C:\Users\Lalit\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [54]:
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(560, 14) (560,)
(140, 14) (140,)

In [70]:
reg = LogisticRegression()

In [71]:
reg.fit(x_train,y_train)

C:\Users\Lalit\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [72]:
reg.score(x_train,y_train)

0.7946428571428571

In [73]:
model_outputs = reg.predict(x_train)
model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0])

In [74]:
np.sum(model_outputs == y_train)/model_outputs.shape[0]

0.7946428571428571

In [75]:
reg.intercept_

array([-1.40791592])

In [76]:
reg.coef_

array([[ 2.57074456,  0.84642676,  3.23954688,  0.41784738,  0.2113315 ,
        -0.07029256,  0.5490557 , -0.00845051, -0.15881469, -0.02062654,
         0.24058572, -0.39990029,  0.31287165, -0.4306866 ]])

In [77]:
feature_name = scaled_inputs.columns.values

In [78]:
summary_table = pd.DataFrame(columns=['Feature_Name'], data = feature_name)

In [79]:
summary_table['Coefficient'] = np.transpose(reg.coef_)

In [80]:
summary_table

               Feature_Name  Coefficient
0                  Reason_1     2.570745
1                  Reason_2     0.846427
2                  Reason_3     3.239547
3                  Reason_4     0.417847
4               Month_Value     0.211331
5                       Day    -0.070293
6    Transportation Expense     0.549056
7          Distance to Work    -0.008451
8                       Age    -0.158815
9   Daily Work Load Average    -0.020627
10          Body Mass Index     0.240586
11                Education    -0.399900
12                 Children     0.312872
13                     Pets    -0.430687

In [81]:
summary_table.index +=1

In [82]:
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]

In [84]:
summary_table.sort_values('Coefficient', ascending=False)

               Feature_Name  Coefficient
3                  Reason_3     3.239547
1                  Reason_1     2.570745
2                  Reason_2     0.846427
7    Transportation Expense     0.549056
4                  Reason_4     0.417847
13                 Children     0.312872
11          Body Mass Index     0.240586
5               Month_Value     0.211331
8          Distance to Work    -0.008451
10  Daily Work Load Average    -0.020627
6                       Day    -0.070293
9                       Age    -0.158815
12                Education    -0.399900
14                     Pets    -0.430687
0                 Intercept    -1.407916

In [85]:
summary_table['Odds_Ratio'] = np.exp(summary_table.Coefficient)

In [86]:
summary_table

               Feature_Name  Coefficient  Odds_Ratio
1                  Reason_1     2.570745   13.075556
2                  Reason_2     0.846427    2.331302
3                  Reason_3     3.239547   25.522155
4                  Reason_4     0.417847    1.518689
5               Month_Value     0.211331    1.235322
6                       Day    -0.070293    0.932121
7    Transportation Expense     0.549056    1.731617
8          Distance to Work    -0.008451    0.991585
9                       Age    -0.158815    0.853154
10  Daily Work Load Average    -0.020627    0.979585
11          Body Mass Index     0.240586    1.271994
12                Education    -0.399900    0.670387
13                 Children     0.312872    1.367346
14                     Pets    -0.430687    0.650063
0                 Intercept    -1.407916    0.244653

In [87]:
summary_table.sort_values('Odds_Ratio', ascending=False)

               Feature_Name  Coefficient  Odds_Ratio
3                  Reason_3     3.239547   25.522155
1                  Reason_1     2.570745   13.075556
2                  Reason_2     0.846427    2.331302
7    Transportation Expense     0.549056    1.731617
4                  Reason_4     0.417847    1.518689
13                 Children     0.312872    1.367346
11          Body Mass Index     0.240586    1.271994
5               Month_Value     0.211331    1.235322
8          Distance to Work    -0.008451    0.991585
10  Daily Work Load Average    -0.020627    0.979585
6                       Day    -0.070293    0.932121
9                       Age    -0.158815    0.853154
12                Education    -0.399900    0.670387
14                     Pets    -0.430687    0.650063
0                 Intercept    -1.407916    0.244653

In [88]:
reg.score(x_test,y_test)

0.7714285714285715

In [89]:
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.73221711, 0.26778289],
       [0.66325918, 0.33674082],
       [0.44746696, 0.55253304],
       [0.81225159, 0.18774841],
       [0.07547175, 0.92452825],
       [0.29353956, 0.70646044],
       [0.337964  , 0.662036  ],
       [0.10791013, 0.89208987],
       [0.85713206, 0.14286794],
       [0.75717958, 0.24282042],
       [0.10206708, 0.89793292],
       [0.02039985, 0.97960015],
       [0.05961214, 0.94038786],
       [0.19058688, 0.80941312],
       [0.23624658, 0.76375342],
       [0.65303233, 0.34696767],
       [0.7192901 , 0.2807099 ],
       [0.1505673 , 0.8494327 ],
       [0.3908541 , 0.6091459 ],
       [0.0368259 , 0.9631741 ],
       [0.75761046, 0.24238954],
       [0.80489769, 0.19510231],
       [0.33132255, 0.66867745],
       [0.35270343, 0.64729657],
       [0.22388403, 0.77611597],
       [0.82135426, 0.17864574],
       [0.54566683, 0.45433317],
       [0.879577  , 0.120423  ],
       [0.12364598, 0.87635402],
       [0.79732761, 0.20267239],
       [0.11642776, 0.88357224],
       [0.36376571, 0.63623429],
       [0.29512925, 0.70487075],
       [0.09181674, 0.90818326],
       [0.80489769, 0.19510231],
       [0.08042558, 0.91957442],
       [0.8466369 , 0.1533631 ],
       [0.18529476, 0.81470524],
       [0.64813491, 0.35186509],
       [0.45944847, 0.54055153],
       [0.79521771, 0.20478229],
       [0.57381136, 0.42618864],
       [0.84122708, 0.15877292],
       [0.55631263, 0.44368737],
       [0.21272823, 0.78727177],
       [0.29707949, 0.70292051],
       [0.28296655, 0.71703345],
       [0.72668996, 0.27331004],
       [0.80746038, 0.19253962],
       [0.83651024, 0.16348976],
       [0.38264549, 0.61735451],
       [0.62441886, 0.37558114],
       [0.31684625, 0.68315375],
       [0.71869104, 0.28130896],
       [0.15547216, 0.84452784],
       [0.58949048, 0.41050952],
       [0.13234742, 0.86765258],
       [0.77031612, 0.22968388],
       [0.61666425, 0.38333575],
       [0.61005241, 0.38994759],
       [0.29214015, 0.70785985],
       [0.32110192, 0.67889808],
       [0.69719304, 0.30280696],
       [0.16870151, 0.83129849],
       [0.85993029, 0.14006971],
       [0.73450389, 0.26549611],
       [0.8685718 , 0.1314282 ],
       [0.83660794, 0.16339206],
       [0.18495362, 0.81504638],
       [0.1557702 , 0.8442298 ],
       [0.84918657, 0.15081343],
       [0.66606911, 0.33393089],
       [0.08309066, 0.91690934],
       [0.6249835 , 0.3750165 ],
       [0.46339642, 0.53660358],
       [0.79732761, 0.20267239],
       [0.13503685, 0.86496315],
       [0.35312152, 0.64687848],
       [0.20235799, 0.79764201],
       [0.3129739 , 0.6870261 ],
       [0.81314277, 0.18685723],
       [0.88171704, 0.11828296],
       [0.79777047, 0.20222953],
       [0.28531635, 0.71468365],
       [0.66084895, 0.33915105],
       [0.89346743, 0.10653257],
       [0.26588167, 0.73411833],
       [0.36177669, 0.63822331],
       [0.72567451, 0.27432549],
       [0.37483243, 0.62516757],
       [0.87282386, 0.12717614],
       [0.86229833, 0.13770167],
       [0.78888461, 0.21111539],
       [0.71768799, 0.28231201],
       [0.77422275, 0.22577725],
       [0.14031715, 0.85968285],
       [0.7168959 , 0.2831041 ],
       [0.18608798, 0.81391202],
       [0.77859821, 0.22140179],
       [0.80441731, 0.19558269],
       [0.44572885, 0.55427115],
       [0.35284131, 0.64715869],
       [0.27404681, 0.72595319],
       [0.29374602, 0.70625398],
       [0.60600119, 0.39399881],
       [0.55552324, 0.44447676],
       [0.74353652, 0.25646348],
       [0.15840956, 0.84159044],
       [0.23006547, 0.76993453],
       [0.84044723, 0.15955277],
       [0.89364129, 0.10635871],
       [0.11873448, 0.88126552],
       [0.22615089, 0.77384911],
       [0.71824988, 0.28175012],
       [0.56698585, 0.43301415],
       [0.48555496, 0.51444504],
       [0.12719119, 0.87280881],
       [0.22476926, 0.77523074],
       [0.42985669, 0.57014331],
       [0.75092904, 0.24907096],
       [0.76035471, 0.23964529],
       [0.83914915, 0.16085085],
       [0.21541953, 0.78458047],
       [0.53864029, 0.46135971],
       [0.79732761, 0.20267239],
       [0.6960296 , 0.3039704 ],
       [0.81745769, 0.18254231],
       [0.88762701, 0.11237299],
       [0.21728734, 0.78271266],
       [0.74509072, 0.25490928],
       [0.39946795, 0.60053205],
       [0.80927245, 0.19072755],
       [0.67678831, 0.32321169],
       [0.72532087, 0.27467913],
       [0.73636944, 0.26363056],
       [0.08161085, 0.91838915],
       [0.72621994, 0.27378006],
       [0.76790509, 0.23209491],
       [0.75305402, 0.24694598],
       [0.62252884, 0.37747116]])

In [90]:
probability_excessive_absenteeism = predicted_proba[:,1]
probability_excessive_absenteeism

array([0.26778289, 0.33674082, 0.55253304, 0.18774841, 0.92452825,
       0.70646044, 0.662036  , 0.89208987, 0.14286794, 0.24282042,
       0.89793292, 0.97960015, 0.94038786, 0.80941312, 0.76375342,
       0.34696767, 0.2807099 , 0.8494327 , 0.6091459 , 0.9631741 ,
       0.24238954, 0.19510231, 0.66867745, 0.64729657, 0.77611597,
       0.17864574, 0.45433317, 0.120423  , 0.87635402, 0.20267239,
       0.88357224, 0.63623429, 0.70487075, 0.90818326, 0.19510231,
       0.91957442, 0.1533631 , 0.81470524, 0.35186509, 0.54055153,
       0.20478229, 0.42618864, 0.15877292, 0.44368737, 0.78727177,
       0.70292051, 0.71703345, 0.27331004, 0.19253962, 0.16348976,
       0.61735451, 0.37558114, 0.68315375, 0.28130896, 0.84452784,
       0.41050952, 0.86765258, 0.22968388, 0.38333575, 0.38994759,
       0.70785985, 0.67889808, 0.30280696, 0.83129849, 0.14006971,
       0.26549611, 0.1314282 , 0.16339206, 0.81504638, 0.8442298 ,
       0.15081343, 0.33393089, 0.91690934, 0.3750165 , 0.53660358,
       0.20267239, 0.86496315, 0.64687848, 0.79764201, 0.6870261 ,
       0.18685723, 0.11828296, 0.20222953, 0.71468365, 0.33915105,
       0.10653257, 0.73411833, 0.63822331, 0.27432549, 0.62516757,
       0.12717614, 0.13770167, 0.21111539, 0.28231201, 0.22577725,
       0.85968285, 0.2831041 , 0.81391202, 0.22140179, 0.19558269,
       0.55427115, 0.64715869, 0.72595319, 0.70625398, 0.39399881,
       0.44447676, 0.25646348, 0.84159044, 0.76993453, 0.15955277,
       0.10635871, 0.88126552, 0.77384911, 0.28175012, 0.43301415,
       0.51444504, 0.87280881, 0.77523074, 0.57014331, 0.24907096,
       0.23964529, 0.16085085, 0.78458047, 0.46135971, 0.20267239,
       0.3039704 , 0.18254231, 0.11237299, 0.78271266, 0.25490928,
       0.60053205, 0.19072755, 0.32321169, 0.27467913, 0.26363056,
       0.91838915, 0.27378006, 0.23209491, 0.24694598, 0.37747116])

In [49]:
with open('model','wb') as file:
    pickle.dump(reg,file)